body {
  margin: 0;
  font-family: "Baloo 2", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #553055;
}
.App {
  background: white;
  margin: 20px auto;
  width: 90%;
  max-width: 700px;
  color: #eee;
}
.navbar {
  padding: 10px 20px;
  text-align: center;
  background: #6d3d6d;
}
.navbar h1 {
  margin: 10px 0;
}
.navbar p {
  font-size: 18px;
  word-spacing: 1.5px;
}

.movie-list {
  margin: 20px;
}
.movie-list ul {
  padding: 0;
  padding-bottom: 5px;
  list-style-type: none;
}
.movie-list li {
  background: #6d3d6d;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin: 10px;
}
.movie-list li:hover {
  opacity: 0.7;
  text-decoration: line-through;
}
.movie-list .title {
  font-weight: bold;
  color: #fff;
  font-size: 1.5em;
}
.movie-list .genre {
  font-size: 1.1em;
  color: #ddd;
}
.movie-list .language {
  font-size: 1.1em;
  color: #ddd;
}

.empty {
  margin: 20px;
  text-align: center;
}
form {
  padding: 20px;
}
input[type="text"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: 6px 0;
  background: #3c1f3c;
  color: #fff;
  border: 0;
  font-family: "Baloo 2", cursive;
  font-weight: bold;
}
input[type="submit"] {
  margin: 10px auto;
  background: #3c1f3c;
  border: 0;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding: 6px 20px;
  display: block;
  font-family: "Baloo 2", cursive;
}
